#beian {
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}
#beian a {
	color: gray
}
body {
}
#calendar_center {
	width:380px;
	height: 315px;
	background: #ae9b84;
	
}
#CalendarMain {
	width: 300px;
	height: 200px;
	border: 0px;
	width:380px;
	height: 230px
}
#title {
	width: 380px;
	height: 75px;
	line-height: 75px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	border-bottom: 1px solid #beaf9d;
	color: white;
}
.month{
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	margin-top: 22px;
	background-image: url(../../images/icon-spriter.png);
	margin-left: 0px;
	background-position: -55px -500px;

}
.nextMonth{
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	margin-top: 22px;
	background-image: url(../../images/icon-spriter.png);
	margin-right: 22px;
	background-position: -55px -550px;

}
.selectBtn {
	font-weight: 900;
	font-size: 18px;	
	cursor: pointer;
	text-decoration: none;
	padding: 7px 10px 6px  10px;
}

.selectYear {
	float: left;
	margin-left: 100px;
	position: absolute;
	margin-top: -9px
}
.selectMonth {
	float: left;
	margin-left: 200px;
	position: absolute;
	margin-top: -8px;
}
.month {
	float: left;
	position: absolute;
}
.nextMonth {
	float: right;
}
.currentDay {
	float: right;
}
#context {
	width: 300px;
	margin-left: 40px;
	padding-top: 5px;
}
.week {
	width: 300px;
	height: 30px;
}
.week>h3 {
	float: left;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 20px;
	font-family: "Microsoft Yahei Font";
}

.item {
	color: white;
	float: left;
	text-align: center;
	cursor: pointer;
	margin: 0;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 13px;
}
.item:hover {
	 	background: url(../../images/icon-spriter.png) 7px -650px no-repeat; 
	
}
.currentR{
		background: url(../../images/icon-spriter.png) 7px -600px no-repeat; 
}
.currentitem {
	
	width: 30px;
	line-height: 30px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #000000;
	margin-left: 6px;
	margin-top: 2px;
	color: #88361f;
	font-weight: bold;
}
.current {
	background-color: white;
	width: 25px;
	line-height: 25px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	margin-left:10px;
}
.dayItem {
	float: left;
}
.lastItem {
	color: #d1c7b7 !important;
}
#foot {
	width: 300px;
	height: 35px;
	border-top: 1px solid #ccc;
	margin-top: -1px;
	display: none;
}
#footNow {
	float: left;
	margin: 6px 0 0 5px;
	color: #009ad6;
	font-family: "Î¢ÈíÑÅºÚ";
}
#Container {
	overflow: hidden;
	float: left;
}
#center {
	width: 380px;
	overflow: hidden;
}
#centerMain {
	width:900px;
	margin-left: -100%;
}
#selectYearDiv {
	float: left;
}
#selectYearDiv>div {
	float: left;
	text-align: center;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	color: #909090;
}
.currentYearSd, .currentMontSd {
	color: #ff4400 !important;
}
#selectMonthDiv {
	float: left;
}
#selectMonthDiv>div {
	color: white;
	float: left;
	text-align: center;
	font-size: 12px;
	border: 0px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	font-family: "Microsoft Yahei"; 
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
  background:url(../../images/icon-spriter.png) 22px -634px  no-repeat;

}
#centerCalendarMain {
	float: left;
}


